/* =========================
   COLOR PALETTE
   ========================= */
:root {
    --olive-green: rgb(75, 94, 70);
    --hunter-green: rgb(25, 34, 10);
    --Ivory: #f5f0e1;
    --dodger-blue: #1e90ff;
    --tomato-red: #ff6347;
}
