/* =========================
   COLOR PALETTE
   ========================= */
:root {
    --olive-green: rgb(75, 94, 70);
    --hunter-green: rgb(25, 34, 10);
    --white: rgb(255, 255, 255);
    --dodger-blue: #1e90ff;
    --tomato-red: #ff6347;
}
