/* =========================
   DARK THEME
   ========================= */

body {
    background-color: var(--olive-green);
    color: var(--Ivory);
}

nav
 {
    background-color: var(--hunter-green);;
    color: var(--Ivory);
}

header,
main,
footer {
    background-color: var(--hunter-green);
    color: var(--olive-green);
}

/* Links */
a {
    color: var(--dodger-blue);
}

a:hover {
    color: var(--tomato-red);
}

/* Table styling (optional but consistent) */
table,
th,
td {
    color: var(--Ivory);
    border-color: var(--hunter-green);
}
