/* =========================
   LIGHT THEME
   ========================= */

body {
    background-color: var(--Ivory);
    color: var(--hunter-green);
}

nav
 {
    background-color: var(--olive-green);
    color: var(--hunter-green);
}

header,
main,
footer {
    background-color: var(--Ivory);
    color: var(--Ivory);
}

/* Links */
a {
    color: var(--hunter-green);
}

a:hover {
    color: var(--tomato-red);
}

/* Table styling */
table,
th,
td {
    color: var(--hunter-green);
    border-color: var(--olive-green);
}
